:host {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#shutter-icon {
    margin: 1rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 0.5rem solid black;

    &.clicked{
        background-color: black;
    }
}