<status-dialog [icon]="icon" *ngIf="speechRecognitionService.objectToBeFound != ''"></status-dialog>

<video #video hidden></video>
<div class="camera">
    <canvas #canvas></canvas>
    <div id="loading-dialog" *ngIf="!isLoaded">
        <mat-spinner></mat-spinner>
        <p class="text-center">{{ loadingMessage }}</p>
    </div>
</div>

<div *ngIf="speechRecognitionService.objectToBeFound != ''">
    <p class="text-center white-color" *ngIf="!isFound">
        Looking for your {{ speechRecognitionService.objectToBeFound }}
    </p>
    <p class="text-center white-color" *ngIf="isFound">
        Found your {{ speechRecognitionService.objectToBeFound }}
    </p>
</div>